/* Set background color for the entire webpage */
body {
  background-color: #FFFBE0; /* Cream color */
}

/* Title styling */
.title {
  border: 2px solid black;
  text-align: center;
  background-color: #FFD700; /* Yellow color */
  color: black; /* Black text */
  padding: 10px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners */
  text-transform: uppercase; /* All caps */
  font-family: "Roboto", sans-serif; /* Roboto Sans font */
  width: fit-content; /* Set width to fit the content */
  margin: 0 auto; /* Center horizontally */
}

/* Set background color for the cat container */
#cat-container {
  background-color: #FFFBE0; /* Green color */
  padding: 20px; /* Add padding for spacing */
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow items to wrap to new line */
  justify-content: space-around; /* Center items horizontally */
}

/* Style for each cat card */
.cat-card {
  width: calc(25% - 20px); /* 25% width for each cat card with spacing */
  background-color: #3EA66B; /* Green color */
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 2px solid black; /* Add black border */
  border-radius: 5px;
}

/* Style for the cat image */
.cat-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px; /* Add border radius to match card */
}

/* Style for the cat name */
.cat-name {
  text-align: center; /* Center the cat names */
  font-family: "Roboto", sans-serif; /* Use Roboto Sans font */
  margin-top: 10px; /* Add margin for spacing */
}

nav a:hover{
  background: #fff;
